@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
@import url('./reset.scss');
/* 
  font-family: 'DM Sans', Arial, sans-serif;
  font-family: 'Poppins', Arial, sans-serif;
*/

:root {
  --black: #171718;
  --white: rgba(255, 255, 255, 0.87);
  --indigo: #4d5197;
  --black-border: #26292d;
  --gold: goldenrod;
  --brown: #603813;
  --silver: #ccc;

  --radius-small: 3px;
  --radius-medium: 5px;
  --radius-large: 10px;

  --accent: var(--gold);
  --header-bg: var(--indigo);
  --text-color-white: var(--white);
  --text-color-black: var(--black);
}

#root {
  font-family: 'Poppins', Arial, sans-serif;

  height: 100%;
  line-height: 1.5;
  color: var(--white);
  background-color: #252526;
}
