// ResetTing default styles

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
body,
figure,
figcaption,
button {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--silver);
  border-radius: var(--radius-small);
  border: 2px solid var(--brown);
}
