@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

@import url('./reset.scss');

/* 
  font-family: 'DM Sans', Arial, sans-serif;
  font-family: 'Poppins', Arial, sans-serif;
*/

:root {
  --black: #171718;
  --white: rgba(255, 255, 255, 0.87);
  --indigo: #535bf2;
  --black-border: #26292d;
}

#root {
  font-family: 'Poppins', Arial, sans-serif;

  height: 100%;
  line-height: 1.5;
  color: var(--white);
  background-color: #242424;
}
